@{
    ViewData["Title"] = "Home Page";
}


<html>

<body>

    <div class="">
        <div class="text-center mt-5">

            <h1 class="display-4 fw-bold">Welcome</h1>

            <p class="lead text-muted mt-3 mb-4">
                Scrape Google and other search engines from our fast, easy, and complete API.
            </p>

            <a href="https://docs.microsoft.com/aspnet/core" class="btn btn-dark btn-lg me-2">
                Get Started
            </a>
            <a href="#" class="btn btn-outline-secondary btn-lg">
                View Docs
            </a>

            


        </div>
    </div>

</body>
</html>
